
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger text-dark text-decoration-underline" href="#services">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger text-dark text-decoration-underline" href="#portfolio">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger text-dark text-decoration-underline" href="#about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger text-dark text-decoration-underline" href="#contact">Contact Us</a>
        </li>
    </ul>
    @Html.Partial("_LoginPartial")



</div>
