@{
    ViewBag.Title = "Home Page";
}

<!-- Header -->
<header class="masthead d-flex">
    <div class="container text-left my-auto border-0 rounded pt-5 pb-4 bg-yellow">
        <div class="content-section-heading ml-5">
            <div class="mb-1 text-15 text-uppercase"><i class="fas fa-hashtag"></i>buidling better buidlings</div>
            <h5 class="ml-1">
                delivering projects in unique way
            </h5>
        </div>
        <div class="text-right"><i class="fas fa-map-marker-alt pr-1"></i>Yangon</div>
    </div>
</header>

<!-- Services -->
<section class="content-section bg-white text-white text-center" id="services">
    <div class="container">
        <div class="content-section-heading text-left ml-5  ">
            <h2 class="mb-5 text-dark">
                <i class="fas fa-hashtag"></i> what we build
            </h2>
        </div>
        <div class="row text-dark">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon bg-yellow rounded-circle mx-auto mb-3">
                    <i class="fas fa-home" style="color: white"></i>
                </span>
                <h4>
                    <strong>households</strong>
                </h4>
                <p class="text-faded mb-0 text-dark">all-in-one <br>solution </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon bg-yellow rounded-circle mx-auto mb-3">
                    <i class="fas fa-building" style="color: white"></i>
                </span>
                <h4>
                    <strong>commercial</strong>
                </h4>
                <p class="text-faded mb-0 text-dark">big or small?<br>we construct</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                <span class="service-icon bg-yellow rounded-circle mx-auto mb-3">
                    <i class="fab fa-sketch" style="color: white"></i>
                </span>
                <h4>
                    <strong>blueprint</strong>
                </h4>
                <p class="text-faded mb-0 text-dark">your imagination is <br>our sketch
            </div>
            <div class="col-lg-3 col-md-6">
                <span class="service-icon bg-yellow rounded-circle mx-auto mb-3">
                    <i class="fas fa-paint-roller" style="color: white"></i>
                </span>
                <h4>
                    <strong>decoration</strong>
                </h4>
                <p class="text-faded mb-0 text-dark">from paint jobs to furnitures</p>
            </div>
        </div>
    </div>
</section>
<hr>

<!-- Portfolio -->
<section class="py-5" id="portfolio">
    <div class="container">
        <div class="content-section-heading text-center">
            <h3 class=" mb-0 text-yellow">Recent</h3>
            <h2 class="mb-5">Projects</h2>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6">
                <a class="portfolio-item" href="#">
                    <span class="caption">
                        <span class="caption-content" style="font-size: 1.5rem">
                            MM Plaza
                        </span>
                    </span>
                    <img class="img-fluid" src="~/images/mm plaza.jpg" style="height:367px !important;" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#">
                    <span class="caption">
                        <span class="caption-content" style="font-size: 1.5rem">
                            THE PEGU CLUB
                        </span>
                    </span>
                    <img class="img-fluid" src="~/images/the pegu club.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#">
                    <span class="caption">
                        <span class="caption-content" style="font-size: 1.5rem">
                            Modern House
                        </span>
                    </span>
                    <img class="img-fluid" src="~/images/modern house.jpg" style="height:355px !important;" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#">
                    <span class="caption">
                        <span class="caption-content" style="font-size: 1.5rem">
                            Star City Yangon
                        </span>
                    </span>
                    <img class="img-fluid" src="~/images/star city.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
<hr>

<!--About-->
<section class="py-3" id="about">
    <div class="container-fluid pt-4 bg-yellow  text-center text-dark">
        <span>little about us</span>
        <div class="row pb-5">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <div class="content-section-heading ">
                    <div style="font-size: 2.5rem">Top 3</div>
                    <div style="font-size: 0.8rem">constructor in Myanmar</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <div class="content-section-heading ">
                    <div style="font-size: 2.5rem">10 years</div>
                    <div style="font-size: 0.8rem">of Operations</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <div class="content-section-heading ">
                    <div style="font-size: 2.5rem">95%</div>
                    <div style="font-size: 0.8rem">of satisfied customers</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <div class="content-section-heading ">
                    <div style="font-size: 2.5rem">Over 50</div>
                    <div style="font-size: 0.8rem">Projects</div>
                </div>
            </div>
        </div>
    </div>
    
</section>
<hr>
<!-- About 2 -->
<section class="pt-4">
    <div class="container">
        <div class="content-section-heading text-left">
            <h2 class="text-yellow">Why</h2>
            <h3>work with us</h3>
        </div>
        <div class="row pb-5">
            <div class="text-left col-lg-6 col-md-12">
                <div class="mt-4">
                    <div class="text-yellow" style="font-size: 1.5rem">#1 we are always looking ahead</div>
                    <div style="font-size: 0.8rem">we embrace and implement the lastest technology</div>
                </div>
                <div class="mt-4">
                    <div class="text-yellow" style="font-size: 1.5rem">#2 we're people focused</div>
                    <div style="font-size: 0.8rem">we work with client to uncover unspoken expectations</div>
                </div>
                <div class="mt-4">
                    <div class="text-yellow" style="font-size: 1.5rem">#3 honestly is always the best policy</div>
                    <div style="font-size: 0.8rem">we embrace the "light of day" test</div>
                </div>
                <div class="mt-4">
                    <div class="text-yellow" style="font-size: 1.5rem">#4 unique experience</div>
                    <div style="font-size: 0.8rem">10 years of construction experience and expertise</div>
                </div>
            </div>
            <div class="why-us  col-lg-6 d-none d-lg-block">
            </div>
        </div>
    </div>
</section>
<hr>

<!-- Map -->
<section id="contact" class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="map">
                <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3819.363029795713!2d96.13375021473433!3d16.808337088428008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c1eb461058f373%3A0x2920462959e55647!2s289%20Pyay%20Rd%2C%20Yangon!5e0!3m2!1sen!2smm!4v1568796348077!5m2!1sen!2smm"></iframe>
                <br />
            </div>
        </div>
        <div class="col-lg-6">
            <div class="shadow-sm px-5 pb-5 pt-4 bg-yellow rounded ">
                <div class="my-5" style="font-size: 1.5rem">
                    Contact us
                </div>
                <div class="row ml-3 mb-3">
                    <div class="contact-header">Address</div>
                    <div>
                        No.289 (A), Pyay Rd,<br>
                        Yangon, Myanmar.
                    </div>
                </div>
                <div class="row ml-3 mb-3">
                    <div class="contact-header">Email</div>
                    <div>aunglay.aung1999@gmail.com</div>
                </div>
                <div class="row ml-3 mb-5">
                    <div class="contact-header">Phone</div>
                    <div class="mr-2">+95 <span>91234567</span></div>
                </div>
                <div class="ml-3 pb-5">
                    we usually reply email within 48 hours.
                    <br>
                    if urgent please do make a call.
                </div>
            </div>

        </div>
    </div>
</section>
<hr>